* {
  font-family: Calibri, sans-serif;
  color: black;
}

.header {
  cursor: pointer;
  /*overflow: hidden;*/
}

.fa {
  color: blue;
}

.fa-chevron-up {
  font-size: 0.75em;
}

.action-icons div {
  float: left;
  padding-top: 0.5em;
  padding-right: 2em;
}

.event-list {
  /*overflow: auto;*/
}

.list-item {
  overflow: hidden;
}

.event-item {
  float: left;
  padding-right: 2em;
  padding-bottom: 1em;
}

.event-time {
  text-align: right;
}

.date-header {
  background-color: #F5F5F5;
  padding: -10px;
}
